<h3><%= @flash%></h3>
<div>
    <%= link_to '[Show popup]', { :action => :show_popup }%><br/>
    <%= link_to '[Play 20 Flip Strings.mp3]', { :action => :play_file_1, :query => {:file_name => '/public/alerts/20 Flip Strings.mp3'} }%><br/>
    <%= link_to '[Play information_bar.wav]', { :action => :play_file_1, :query => {:file_name => '/public/alerts/information_bar.wav'} }%><br/>
    <%= link_to '[Vibrate]', { :action => :vibrate }%><br/>
    <%= link_to '[Vibrate for 10 sec]', { :action => :vibrate_for_10sec }%><br/>
</div>