<div class="toolbar">
	<h1 id="pageTitle">
		Edit <%=@blob.name%>
	</h1>
</div>

<form title="Edit Blob" 
	  class="panel" 
	  id="blob_edit_form" 
	  method="POST" 
	  action="<%=url_for(:action => :update)%>" selected="true">
	<fieldset>
		<input type="hidden" name="id" value="<%=@blob.object%>"/>
		
		  <div class="row">
			  <label>Name: </label>
			  <input type="text" name="blob[name]" value="<%=@blob.name%>"/>
		  </div>
		
	</fieldset>
	<input type="submit" value="Update"/>
	<p align="center">
		<a href="<%=url_for(:action => :delete, :id => @blob.object)%>">
			<font color="#990000">Delete</font>
		</a>
	</p>
</form>