<head>
    <script type="text/javascript">
        function test() {
            alert("Javascript alert");
        }
    </script>
</head>

<div class="toolbar">
	<h1 id="pageTitle">
		System test
	</h1>
</div>
<br/>
platform : <%=System.get_property('platform') %> <br/>
has_network : <%=System.get_property('has_network') %> <br/>
locale : <%=System.get_property('locale') %> <br/>
country: <%=System.get_property('country') %> <br/>
screen_width : <%=System.get_property('screen_width') %> <br/>
screen_height : <%=System.get_property('screen_height') %> <br/>
ppi_x : <%=System.get_property('ppi_x') %> <br/>
ppi_y : <%=System.get_property('ppi_y') %> <br/>
has_camera : <%=System.get_property('has_camera') %> <br/>
phone_number : <%=System.get_property('phone_number') %> <br/>
device_id : <%=System.get_property('device_id') %> <br/>
full_browser : <%=System.get_property('full_browser') %> <br/>
device_name : <%=System.get_property('device_name') %> <br/>
os_version : <%=System.get_property('os_version') %> <br/>
rhodes_port : <%=System.get_property('rhodes_port') %> <br/>
is_emulator : <%=System.get_property('is_emulator') %> <br/>
has_calendar : <%=System.get_property('has_calendar') %> <br/>
get_start_params : <%=System.get_start_params() %> <br/>

<% if $sleeping %>    
    <%= link_to 'Disable sleep', url_for(:action => :disable_sleep) %> <br/>
<%else%>
    <%= link_to 'Enable sleep', url_for(:action => :disable_sleep) %> <br/>    
<%end%>    
<%= link_to 'Exit application', url_for(:action => :app_exit) %> <br/>

<br/>WebView class:<br/>
<a href="#" onclick="test();">JS Popup</a><br/>
current_location : <%=WebView.current_location() %> <br/>
<li><%=link_to "execute_js", :action => :call_js%></li>

<%= link_to 'Read log', url_for(:action => :read_log) %> <br/>
<%= link_to 'Start Test app', url_for(:action => :start_test_app) %> <br/>
    
<% if System::get_property('platform') == 'ANDROID' %>
<%= link_to 'Install simple app', url_for(:action => :install_apk) %> <br/>
<%= link_to 'Start Music app', url_for(:action => :start_music_app) %> <br/>
<%= link_to 'Is Music app installed?', url_for(:action => :is_music_app_installed) %> <br/>
<%= link_to 'Uninstall Music application', url_for(:action => :uninstall_music_app) %> <br/>
<% end %>      
<br>
<% if System::get_property('platform') == 'APPLE' %>
<br>
<%= link_to 'Is Skype app installed?', url_for(:action => :is_skype_app_installed) %> <br/>
<%= link_to 'Start Skype app', url_for(:action => :start_skype_app) %> <br/>
<br>
<% end %>      

