<head>
    <script type="text/javascript">
        function test() {
            alert("Test");
        }
    </script>
</head>

<div class="toolbar">
	<h1 id="pageTitle">
		Async Http Test result
	</h1>
</div>
<br/>
platform : <%=System.get_property('platform') %> <br/>
has_network : <%=System.get_property('has_network') %> <br/>
locale : <%=System.get_property('locale') %> <br/>
screen_width : <%=System.get_property('screen_width') %> <br/>
screen_height : <%=System.get_property('screen_height') %> <br/>
ppi_x : <%=System.get_property('ppi_x') %> <br/>
ppi_y : <%=System.get_property('ppi_y') %> <br/>
has_camera : <%=System.get_property('has_camera') %> <br/>
phone_number : <%=System.get_property('phone_number') %> <br/>
device_id : <%=System.get_property('device_id') %> <br/>
full_browser : <%=System.get_property('full_browser') %> <br/>

<%= link_to 'Exit application', url_for(:action => :app_exit) %> <br/>

<br/>WebView class:<br/>
<a href="#" onclick="test();">JS Popup</a><br/>
current_location : <%=WebView.current_location() %> <br/>
<li><%=link_to "execute_js", :action => :call_js%></li>

