<script language="JavaScript">
        
if (location.search =='?settings=true') {
  window.location ='/app/Settings';
}

</script>

<% 
    webview = System::get_property('webview_framework')
    is_webkit = (!webview.nil? and webview.start_with?('WEBKIT'))
%>
Device capabilities:
<ul id="home" selected="true" title="Device capabilities">
  <% if System::get_property('platform') != 'WP7' and System::get_property('device_name') != 'Win32' %>
     <li><a href="Contacts">Contacts</a></li>
  <% else %>
  <li>
    <a href="<%= url_for :controller => :Settings, :action => :not_supported, :query => {:feature => 'Contacts'} %>">Contacts</a>
  </li>
  <% end %>
  <% if System::get_property('platform') != 'WP7' and System::get_property('device_name') != 'Win32' %>
  <li>
    <a href="Calendar">Calendar</a>
  </li>
  <% else %>
  <li>
    <a href="<%= url_for :controller => :Settings, :action => :not_supported, :query => {:feature => 'Calendar'} %>">Calendar</a>
  </li>
  <% end %>
  <% if System::get_property('platform') != 'WP7' and System::get_property('device_name') != 'Win32' %>    
  <li>
    <a href="GeoLocation">Geo Location/Native Map</a>
  </li>
  <% else %>
  <li>
    <a href="<%= url_for :controller => :Settings, :action => :not_supported, :query => {:feature => 'Geo Location/Native Map'} %>">Geo Location/Native Map</a>
  </li>
  <% end %>
      <% if System::get_property('platform') != 'WP7' %>    
     <li><a href="Image">Camera</a></li>  
     <% if Rho::System.platform == 'ANDROID' or Rho::System.platform == 'APPLE' %>
     <!--li><a href="Camera">Camera 4</a></li-->
     <% end %>
  <% else %>
  <li>
    <a href="<%= url_for :controller => :Settings, :action => :not_supported, :query => {:feature => 'Camera'} %>">Camera</a>
  </li>
  <% end %> 
    
<% if System::get_property('platform') == 'APPLE' or System::get_property('platform') == 'ANDROID' or (System::get_property('platform') == 'WINDOWS' and System::get_property('device_name') != 'Win32' ) or System::get_property('platform') == 'Blackberry'%>
    <li><a href="SignatureUtil">Signature capture</a></li>   
<% else %>      
    <li><a href="<%= url_for :controller => :Settings, :action => :not_supported, :query => {:feature => 'Signature capture'} %>">Signature capture</a></li>       
<% end %>

<% if System::get_property('platform') == 'APPLE' or System::get_property('platform') == 'ANDROID'%>
    <li><a href="SignatureInline">Signature Inline capture</a></li>   
<% else %>      
    <li><a href="<%= url_for :controller => :Settings, :action => :not_supported, :query => {:feature => 'Signature inline capture'} %>">Signature inline capture</a></li>       
<% end %>


<% if System::get_property('platform') != 'WP7'%>  
    <li><a href="DateTime">Date/Time picker</a></li>
<% else %>
  <li><a href="<%= url_for :controller => :Settings, :action => :not_supported, :query => {:feature => 'Date/Time picker'} %>">Date/Time picker</a></li>
<% end %>
    
<% if System::get_property('platform') == 'APPLE' or System::get_property('platform') == 'ANDROID' or is_webkit %>
    <li><a href="DateTimeAJ">Date/Time picker using AJAX</a></li>
<% else %>      
    <li><a href="<%= url_for :controller => :Settings, :action => :not_supported, :query => {:feature => 'Date/Time picker using AJAX'} %>">Date/Time picker using AJAX</a></li>       
<% end %>      

    <li>
      <a href="Alert">Alerts/Audio file playback</a>
    </li> 
    
<% if System::get_property('platform') != 'APPLE' and  System::get_property('platform') != 'WP7' and System::get_property('device_name') != 'Win32' %>
    <li><a href="Ringtones">Ringtones</a></li>
<% else %>      
    <li><a href="<%= url_for :controller => :Settings, :action => :not_supported, :query => {:feature => 'Ringtones'} %>">Ringtones</a></li>       
<% end %>      
    
    <li><a href="DynamicMenu">Native Menu</a></li>
    
<% if System::get_property('device_name') != 'Win32' %>
    <li><a href="ScreenRotation">Screen rotation</a></li>   
<% else %>      
    <li><a href="<%= url_for :controller => :Settings, :action => :not_supported, :query => {:feature => 'Screen rotation'} %>">Screen rotation</a></li>       
<% end %>      
    
    
    <li><a href="CustomUri">Hyperlinks for Email, Phone Dialing, SMS</a></li>

  <% if System.get_property('is_motorola_device') %>
      <li><a href="BarcodeRecognizerMoto">Barcode</a></li> 
  <% elsif System::get_property('platform') != 'WP7' and System::get_property('platform') != 'WINDOWS'%>
     <li><a href="BarcodeRecognizer">Barcode</a></li> 
  <% else %>
  <li>
    <a href="<%= url_for :controller => :Settings, :action => :not_supported, :query => {:feature => 'Barcode'} %>">Barcode</a>
  </li>
  <% end %>  
  <% if !System.get_property('is_motorola_device') and  System::get_property('platform') != 'WP7' and System::get_property('platform') != 'WINDOWS' and System::get_property('platform') != 'Blackberry'%>
      <li><a href="BarcodeRecognizerMoto">Barcode Moto</a></li> 
  <% end %>  
 
  <% if System::get_property('platform') != 'WP7' and System::get_property('device_name') != 'Win32' %>
         <li><a href="BluetoothChat">Bluetooth</a></li>
  <% else %>
  <li>
    <a href="<%= url_for :controller => :Settings, :action => :not_supported, :query => {:feature => 'Bluetooth'} %>">Bluetooth</a>
  </li>
  <% end %>  
<% if System::get_property('platform') == 'ANDROID' %>
    <li><a href="Nfc">NFC (Near Field Communication)</a></li>   
<% else %>      
    <li><a href="<%= url_for :controller => :Settings, :action => :not_supported, :query => {:feature => 'NFC (Near Field Communication)'} %>">NFC (Near Field Communication)</a></li>       
<% end %>        

<% if System::get_property('platform') != 'Blackberry' %>
    <li><a href="NativeBarTest">NativeBar (deprecated API) test</a></li>
    <li><a href="NativeToolbarTest">Native Toolbar test</a></li>
<% else %>      
    <li><a href="<%= url_for :controller => :Settings, :action => :not_supported, :query => {:feature => 'Tabbar/Toolbar'} %>">Tabbar/Toolbar</a></li>       
<% end %>      
    
<% if (System::get_property('platform') == 'APPLE' or System::get_property('platform') == 'ANDROID' or is_webkit  or System::get_property('platform') == 'WP7' or System::get_property('platform') == 'WP8') and !(System.get_property('webview_framework') =~ /MOTOROLA/) %>
    <li><a href="NativeTabbarTest">Native Tabbar test</a></li>
<% else %>      
    <li><a href="<%= url_for :controller => :Settings, :action => :not_supported, :query => {:feature => 'Tabbar bar'} %>">Tabbar bar</a></li>
<% end %>  
<% if System::get_property('platform') == 'APPLE' or System::get_property('platform') == 'ANDROID' %>
    <li><a href="Navbar">Navigation bar</a></li>
<% else %>      
    <li><a href="<%= url_for :controller => :Settings, :action => :not_supported, :query => {:feature => 'Navigation bar'} %>">Navigation bar</a></li>       
<% end %>  
 <% if System::get_property('platform') != 'WP7'%> 
 <li><a href="RhoTimerTest">RhoTimer</a></li>  
  <% else %>  
  <li>
    <a href="<%= url_for :controller => :Settings, :action => :not_supported, :query => {:feature => 'RhoTimer'} %>">RhoTimer</a>
  </li>
 <% end %>  
<% if System::get_property('platform') == 'APPLE' or System::get_property('platform') == 'ANDROID' or System::get_property('platform') == 'WINDOWS'%>
    <li><a href="NetworkStatus">Network status notification</a></li>
    <li><a href="DetectConnection">Detect network connection status</a></li>
<% end %>

     
<li><a href="Metadata">Metadata Test</a></li>  
<li><a href="GeoCoding">GeoCoding Example</a></li>
<li><a href="GeneratePDF">Generate PDF or capture current page</a></li>

<li><a href="SyncEngineJs/index.htm">SyncEngine JS API</a></li>


<% if System::get_property('platform') == 'APPLE' or System::get_property('platform') == 'ANDROID' %>
    <li><a href="RawSensorsTest">RawSensors test</a></li>
<% else %>      
    <li><a href="<%= url_for :controller => :Settings, :action => :not_supported, :query => {:feature => 'RawSensors'} %>">RawSensors</a></li>       
<% end %>  
<% if System::get_property('platform') == 'APPLE' or System::get_property('platform') == 'ANDROID' %>
    <li><a href="AudioCaptureTest">AudioCapture test</a></li>
<% else %>      
    <li><a href="<%= url_for :controller => :Settings, :action => :not_supported, :query => {:feature => 'audioCapture'} %>">audioCapture</a></li>       
<% end %>  
<% if System::get_property('platform') == 'APPLE' or System::get_property('platform') == 'ANDROID' %>
    <li><a href="RhoVideoCaptureTest">RhoVideoCapture test</a></li>
<% else %>      
    <li><a href="<%= url_for :controller => :Settings, :action => :not_supported, :query => {:feature => 'videoCapture'} %>">videoCapture</a></li>       
<% end %>  
     
</ul>
    
Rhodes API tests
<ul id="home" selected="true" title="Rhodes API tests">
    <li><a href="AsyncHttpTest">Async Http test</a></li>
    <li><a href="AsyncHttpsTest">Async HttpS test</a></li>
    <li><a href="AsyncDownloadFile">Async download file</a></li>
    <li><a href="AsyncUploadFile">Async upload file</a></li>
    <li><a href="SystemTest">System test</a></li>
    <li><a href="Localization">Localization test</a></li>
    <li><a href="RhoTest">Rho test</a></li>    
    
<% if System::get_property('platform') != 'Blackberry' and System::get_property('platform') != 'WP7' and System::get_property('device_name') != 'Win32' %>
    <li><a href="NativeView">Native View</a></li>   
<% else %>      
    <li><a href="<%= url_for :controller => :Settings, :action => :not_supported, :query => {:feature => 'Native View'} %>">Native View</a></li>       
<% end %>      

<% if System::get_property('platform') == 'APPLE' ||  System::get_property('platform') == 'ANDROID' %>
    <li><a href="NlistTest">Very long list with native extension</a></li>    
<% end %>      

    
    <li><a href="AnimationTest">Animation test</a></li>
  <% if System::get_property('platform') != 'WP7' %>
  <li>
      <a href="Media">Video/audio test</a>
  </li>
  <% else %>
  <li>
    <a href="<%= url_for :controller => :Settings, :action => :not_supported, :query => {:feature => 'Video/audio test'} %>">Video/audio test</a>
  </li>
  <% end %>

  <% if System::get_property('platform') == 'ANDROID' %>
    <li><a href="<%= url_for :controller => :ZoomTest, :action => :index %>">Zoom test</a></li>
  <% end %>

    <li><a href="UIFormDemo">UI Form Demo</a></li>

  <li><a href="JQueryMobileTest">UI JQueryMobile Form Demo</a></li>
  <li><a href="RexmlTest">Rexml test</a></li>
  <li><a href="JsonTest">JSON test</a></li>
  <li><a href="AjaxTest">AJAX test</a></li>

  <% if (System::get_property('platform') == 'WINDOWS_DESKTOP') || defined?( RHODES_EMULATOR ) %>
    <li><a href="ResizeAppWindow">Resize Window test</a></li>
  <% end %>  
   
  <% if (System::get_property('platform') == 'ANDROID') || (System::get_property('platform') == 'APPLE') || (System::get_property('platform') == 'WINDOWS') || (System::get_property('platform') == 'WINDOWS_DESKTOP') || defined?( RHODES_EMULATOR ) %>
    <li><a href="OpenSSL">OpenSSL extension test</a></li>
  <% end %>  

  <% if (System::get_property('platform') == 'ANDROID') || (System::get_property('platform') == 'APPLE') || (System::get_property('platform') == 'WINDOWS') || (System::get_property('platform') == 'WINDOWS_DESKTOP') || defined?( RHODES_EMULATOR ) %>
    <li><a href="Digest">Digest extension test</a></li>
  <% end %>  

</ul>

<%= $mt_string %>
