<div class="toolbar">
	<h1 id="pageTitle">
		New Event
	</h1>
</div>
<form title="New Event"
   class="panel"
   id="event_new_form"
   method="POST"
   action="<%=url_for(:action => :create)%>">
  <fieldset>
      <div class="row">
          <label>Title: </label>
          <input type="text" name="event[title]" value=""
              <%=@event['title']%>"/>
          </div>
      <div class="row">
          <label>Location: </label>
          <input type="text" name="event[location]" value="<%= @event['location']%>" />
      </div>
      <div class="row">
          <label>Start Date: </label>
          <input id="start_date" type="text" name="event[start_date]" value="<%= @event['start_date'] %>" onClick="popupDateTimeAJPicker('Choose Start Date', 'start_date');"></input>
      </div>
      <div class="row">
          <label>End Date: </label>
          <input id="end_date" type="text" name="event[end_date]" value="<%= @event['end_date'] %>" readonly="" onClick="popupDateTimeAJPicker('Choose End Date', 'end_date');"></input>
      </div>
      <div class="row">
          <label>Notes: </label>
          <input type="text" name="event[notes]" value="<%= @event['notes']%>" />
      </div>
      <div class="row">
          <label>Privacy: </label>
          <input type="text" name="event[privacy]" value="<%= @event['privacy']%>" />
      </div>
      <div class="row">
          <label>Reminder: </label>
          <input type="text" name="event[reminder]" value="<%= @event['reminder']%>" />
      </div>
  </fieldset>
  <input type="submit" value="Create"/>
</form>