<div class="toolbar">
	<h1 id="pageTitle">
		Event
	</h1>
</div>
<div id="settings" title="Event" class="panel">
  <%= link_to "Edit", {:action => :edit, :id => @event['id']}, "class=\"button right_button\"" %>		
  <fieldset>
    <div class="row">
      <label>Title: </label>
      <span><%=@event['title']%></span>
    </div>

      <div class="row">
          <label>Location: </label>
          <span><%= @event['location']%></span>
      </div>
      <div class="row">
          <label>Start Date: </label>
          <span><%= @event['start_date'] %></span>
      </div>
      <div class="row">
          <label>End Date: </label>
          <span><%= @event['end_date'] %></span>
      </div>
      <div class="row">
          <label>Notes: </label>
          <span><%= @event['notes']%></span>
      </div>
      <div class="row">
          <label>Privacy: </label>
          <span><%= @event['privacy']%></span>
      </div>
      <div class="row">
          <label>Reminder: </label>
          <span><%= @event['reminder']%></span>
      </div>
      <div class="row">
          <label>Recurrence: </label>
          <span><%=@event['recurrence'].inspect%></span>
      </div>

  </fieldset>
</div>