<div>
	<%= link_to '[Choose Picture]', { :action => :edit }%><br/>
	<% if System::get_property('has_camera') %>


<% if (((System::get_property('platform') == 'ANDROID') || (System::get_property('platform') == 'APPLE')) && ($use_new_api)) %>

<br>
Found cameras :
<br>
<b>Main Camera : </b><%=$camera_main%>
<br>
<b>Front Camera : </b><%=$camera_front%>
<br>
  <INPUT type="button" id="id_button1" value="Take Picture" name="id_button1" onClick="onCameraTake();">

<br>
Camera settings : <br>
Camera : 
<SELECT NAME="camera_type" ID="camera_type">
<OPTION VALUE="main">Main back camera
<OPTION VALUE="front">Front face camera
</SELECT>
<br>
Color Model : 
<SELECT NAME="color_model" ID="color_model">
<OPTION VALUE="RGB">RGB Full color
<OPTION VALUE="Grayscale">Monochrome grayscale
</SELECT>
<br>
Preferred Size : 
<SELECT NAME="preferred_size" ID="preferred_size">
<OPTION VALUE="original">original
<OPTION VALUE="size1">1000x1000
<OPTION VALUE="size2">100x100
</SELECT>
<br>

<% if ((System::get_property('platform') == 'APPLE')) %>
Allow Editing : 
<SELECT NAME="enable_editing" ID="enable_editing">
<OPTION VALUE="enable">enable
<OPTION VALUE="disable">disable
</SELECT>
<br>
<% end %>


<% else %>


    	<%= link_to '[Take Picture]', { :action => :new }%>

<% end %>


    <% end %>	
        
    <br/>
	<% @images.reverse_each do |x|%>
        <% if x.image_uri %>
            <a href="<%=url_for(:action => :open_image, :query => {'url' => Rho::RhoApplication::get_blob_path(x.image_uri)} ) %>"><img src="<%=Rho::RhoApplication::get_blob_path(x.image_uri)%>" width='300px'></img></a><a href="<%=url_for(:action => :delete, :id =>x.object)%>">Delete</a>
			<% if (System::get_property('platform') == 'APPLE') %>
				<br/><a href="<%=url_for(:action => :save_to_gallery, :id =>x.object)%>">Save to gallery</a>
			<% end %>
			<br/>
        <% end %>        
	<% end %>
</div>

<% if ((System::get_property('platform') == 'ANDROID') || (System::get_property('platform') == 'APPLE')) %>

<script type="text/javascript">

function onCameraTake() {
  var en_ed = "enable";
<% if ((System::get_property('platform') == 'APPLE')) %>
  en_ed = document.getElementById("enable_editing").value;
<% end %>
  $.get('/app/Image/on_take', { camera_type: document.getElementById("camera_type").value, color_model: document.getElementById("color_model").value, enable_editing: en_ed, preferred_size: document.getElementById("preferred_size").value});
  return false;
}

</script>

<% end %>
