<div>
    Select scanner: 
    <select name="scanners">
        <% @scanners.each_index do |i| %>
            <option value="<%= @scanners[i]['id'] %>"
                <%= "selected" if i == 0 %> >
                <%= @scanners[i]['name'] %>
            </option>
        <% end %>

            
    </select>
<br/>
    
    <%= link_to '[Take Barcode]', { :action => :take }%>
   	<%= link_to '[Multi scan]', { :action => :multiscan }%>

</div>