<div class="toolbar">
	<h1 id="pageTitle">
		Rho tests
	</h1>
</div>

<ul id="home" selected="true" title="System Api Samples">
	<li><%=link_to "render :string", :action => :render_string%></li>
	<li><%=link_to "render :file", :action => :render_file%></li>       
	<li><%=link_to "navigate with fragment", :action => :navigate_fragment%></li>
       
	<li><%=link_to "show 400 error handler", :action => :raise_400%></li>       
	<li><%=link_to "show 500 error handler", :action => :raise_500%></li>       
<br/>       <br/>
</ul>
