<div id="pageTitle">
		<h1>Edit <%= @task.title%></h1>
</div>

<div id="toolbar">
    <%= link_to "Back", :action => :show, :id => @task.object %>
    <%= link_to "Delete", :action => :delete, :id => @task.object %>
</div>


<div id="content">
    <form method="POST" action="<%= url_for :action => :update %>">
    	<input type="hidden" name="id" value="<%= @task.object %>"/>
            <table>
        		
                    <tr>
            			<td width="125" class="fieldLabel">Title: </td>
              			<td><input type="text" name="task[title]" value="<%= @task.title %>"/></td>
          		    </tr>
        		
                    <tr>
            			<td width="125" class="fieldLabel">Description: </td>
              			<td><input type="text" name="task[description]" value="<%= @task.description %>"/></td>
          		    </tr>
        		
                    <tr>
            			<td width="125" class="fieldLabel">Status: </td>
              			<td><input type="text" name="task[status]" value="<%= @task.status %>"/></td>
          		    </tr>
        		
                    <tr>
            			<td width="125" class="fieldLabel">Project: </td>
              			<td><input type="text" name="task[project]" value="<%= @task.project %>"/></td>
          		    </tr>
        		
                    <tr>
            			<td width="125" class="fieldLabel">Deadline: </td>
              			<td><input type="text" name="task[deadline]" value="<%= @task.deadline %>"/></td>
          		    </tr>
        		
                    <tr>
            			<td width="125" class="fieldLabel">Shared: </td>
              			<td><input type="text" name="task[shared]" value="<%= @task.shared %>"/></td>
          		    </tr>
        		
            </table>
            <input type="submit" class="standardButton" value="Update" />
    </form>
</div>
