<div id="pageTitle">
		<h1>Edit <%= @uiformdemo.textbox%></h1>
</div>

<div id="toolbar">
    <%= link_to "Back", :action => :show, :id => @uiformdemo.object %>
    <%= link_to "Delete", :action => :delete, :id => @uiformdemo.object %>
</div>


<div id="content">
    <form method="POST" action="<%= url_for :action => :update %>">
    	<input type="hidden" name="id" value="<%= @uiformdemo.object %>"/>
            <table>
        		
                    <tr>
            			<td width="125" class="fieldLabel">Textbox: </td>
              			<td><input type="text" name="uiformdemo[textbox]" value="<%= @uiformdemo.textbox %>"/></td>
          		    </tr>
        		
                    <tr>
            			<td width="125" class="fieldLabel">Checkbox: </td>
              			<td><input type="text" name="uiformdemo[checkbox]" value="<%= @uiformdemo.checkbox %>"/></td>
          		    </tr>
        		
                    <tr>
            			<td width="125" class="fieldLabel">Radiobutton: </td>
              			<td><input type="text" name="uiformdemo[radiobutton]" value="<%= @uiformdemo.radiobutton %>"/></td>
          		    </tr>
        		
                    <tr>
            			<td width="125" class="fieldLabel">Textarea: </td>
              			<td><input type="text" name="uiformdemo[textarea]" value="<%= @uiformdemo.textarea %>"/></td>
          		    </tr>
        		
            </table>
            <input type="submit" class="standardButton" value="Update" />
    </form>
</div>
