<div id="pageTitle">
		<h1>Edit <%= @uiformdemo.textbox%></h1>
</div>

<div id="toolbar">
    <%= link_to "Back", :action => :show, :id => @uiformdemo.object %>
    <%= link_to "Delete", :action => :delete, :id => @uiformdemo.object %>
</div>


<div id="content">
    <form method="POST" action="<%= url_for :action => :update %>">
    	<input type="hidden" name="id" value="<%= @uiformdemo.object %>"/>

        <h2 class="groupTitle">Textbox</h2>
        <table>
              <tr>
                  <td width="125">Title: </td>
                  <td><input type="text" name="uiformdemo[title]" value="<%= @uiformdemo.title %>"/></td>
              </tr>

              <tr>
                  <td width="125">Description: </td>
                  <td><input type="text" name="uiformdemo[description]" value="<%= @uiformdemo.description %>"/></td>
              </tr>
        </table>

        <h2 class="groupTitle">Checkbox</h2>
        <table>
            <tr>
              <td width="125">Checkbox1: </td>
              <td><input type="text" name="uiformdemo[checkbox1]" value="checkbox1" <%= checked("checkbox1",@uiformdemo.checkbox1)%>/></td>
            </tr>

            <tr>
              <td width="125">Checkbox2: </td>
              <td><input type="text" name="uiformdemo[checkbox2]" value="checkbox2" <%= checked("checkbox2",@uiformdemo.checkbox2)%>/></td>
            </tr>

            <tr>
              <td width="125">Checkbox3: </td>
              <td><input type="text" name="uiformdemo[checkbox3]" value="checkbox3" <%= checked("checkbox3",@uiformdemo.checkbox3)%>/></td>
            </tr>
        </table>

        <h2 class="groupTitle">Radio Button</h2>
        <table>
            <tr>
              <td width="125">Radiobutton1: </td>
              <td><input type="text" name="uiformdemo[radiobutton]"  value="radio1" <%= checked("radio1",@uiformdemo.radiobutton)%>/></td>
            </tr>

            <tr>
              <td width="125">Radiobutton2: </td>
              <td><input type="text" name="uiformdemo[radiobutton]"  value="radio2" <%= checked("radio2",@uiformdemo.radiobutton)%>/></td>
            </tr>

            <tr>
              <td width="125">Radiobutton3: </td>
              <td><input type="text" name="uiformdemo[radiobutton]"  value="radio3" <%= checked("radio3",@uiformdemo.radiobutton)%>/></td>
            </tr>
        </table>

        <h2 class="groupTitle">Select Box</h2>
        <table>
            <tr>
                <td>
                    <select name="uiformdemo[selectbox]">
                        <option value="apple" <%= selected("apple",@uiformdemo.selectbox) %>>iPhone</option>
                        <option value="android" <%= selected("android",@uiformdemo.selectbox) %>>Android</option>
                        <option value="blackberry <%= selected("blackberry",@uiformdemo.selectbox) %>">BlackBerry</option>
                        <option value="winmo" <%= selected("winmo",@uiformdemo.selectbox) %>>Windows Mobile</option>
                    </select>
                </td>
            </tr>
        </table>

        <h2 class="groupTitle">TextArea</h2>
        <table>
            <tr>
                <td><textarea name="uiformdemo[textarea]" rows="5" cols="30"><%= @uiformdemo.textarea %></textarea></td>
            </tr>
        </table>
            <input type="submit" class="standardButton" value="Update" />
    </form>
</div>
