<div id="pageTitle">
	<h1>New <%= @uiformdemo.title %></h1>
</div>

<div id="toolbar">
     <div id="leftItem" class="backButton"><%= link_to "Cancel", :action => :index %></div>
</div>

<div id="content">
    <form method="POST" action="<%= url_for :action => :create %>">
        <input type="hidden" name="id" value="<%= @uiformdemo.object %>"/>

        <h2 class="groupTitle">TextBoxes</h2>
        <ul>
            <li>
                <label for="uiformdemo[title]" class="fieldLabel">Title</label>
                <input type="text" name="uiformdemo[title]" <%= placeholder( "Title" ) %> />
            </li>
            <li>
                <label for="uiformdemo[description]" class="fieldLabel">Description</label>
                <input type="text" name="uiformdemo[description]" <%= placeholder( "Description" ) %> />
            </li>
        </ul>

        <h2 class="groupTitle">Checkboxes</h2>
        <ul>
            <li>
                <label for="uiformdemo[checkbox1]">Checkbox1</label>
                <input type="checkbox" name="uiformdemo[checkbox1]" value="checkbox1" />
            </li>
            <li>
                <label for="uiformdemo[checkbox2]">Checkbox2</label>
                <input type="checkbox" name="uiformdemo[checkbox2]" value="checkbox2" />
            </li>
            <li>
                <label for="uiformdemo[checkbox3]">Checkbox3</label>
                <input type="checkbox" name="uiformdemo[checkbox3]" value="checkbox3" />
            </li>
        </ul>

        <h2 class="groupTitle">Radio Buttons</h2>
        <ul>
            <li>
                <label for="uiformdemo[radiobutton]">Radio Button1</label>
                <input type="radio" name="uiformdemo[radiobutton]" value="radio1"/>
            </li>
            <li>
                <label for="uiformdemo[radiobutton]">Radio Button2</label>
                <input type="radio" name="uiformdemo[radiobutton]" value="radio2"/>
            </li>
            <li>
                <label for="uiformdemo[radiobutton]">Radio Button3</label>
                <input type="radio" name="uiformdemo[radiobutton]" value="radio3"/>
            </li>
        </ul>

        <h2 class="groupTitle">Select Box</h2>
        <ul>
            <li>
                <select name="uiformdemo[selectbox]">
                    <option selected>Please select</option>
                    <option value="apple">iPhone</option>
                    <option value="android">Android</option>
                    <option value="blackberry">BlackBerry</option>
                    <option value="winmo">Windows Mobile</option>
                </select>
            </li>
        </ul>

        <h2 class="groupTitle">Textarea</h2>
        <ul>
            <li class="textarea">
                <textarea name="uiformdemo[textarea]" rows="5" cols="30" ></textarea>
            </li>
        </ul>
        <input type="submit" class="standardButton" value="Create" />
    </form>
</div>