<div id="pageTitle">
	<h1><%= @uiformdemo.textbox%></h1>
</div>

<div id="toolbar">
    <div id="leftItem" class="backButton"><%= link_to "Back", :action => :index %></div>
    <div id="rightItem" class="regularButton"><%= link_to "Edit", :action => :edit, :id => @uiformdemo.object %></div>
</div>

<div id="content">
    <ul>
        
        <li>
            <div class="itemLabel">Title</div>
            <div class="itemValue"><%= @uiformdemo.title%></div>
        </li>

        <li>
            <div class="itemLabel">Description</div>
            <div class="itemValue"><%= @uiformdemo.description%></div>
        </li>

        <li>
            <div class="itemLabel">Checkbox1</div>
            <div class="itemValue"><%= @uiformdemo.checkbox1%></div>
        </li>

       <li>
            <div class="itemLabel">Checkbox2</div>
            <div class="itemValue"><%= @uiformdemo.checkbox2%></div>
        </li>

       <li>
            <div class="itemLabel">Checkbox3</div>
            <div class="itemValue"><%= @uiformdemo.checkbox3%></div>
        </li>

        <li>
            <div class="itemLabel">Radiobutton</div>
            <div class="itemValue"><%= @uiformdemo.radiobutton%></div>
        </li>

        <li>
            <div class="itemLabel">Select Box</div>
            <div class="itemValue"><%= @uiformdemo.selectbox%></div>
        </li>

        <li>
            <div class="itemLabel">Textarea</div>
            <div class="itemValue"><%= @uiformdemo.textarea%></div>
        </li>
        
    </ul>
</div>