<div id="pageTitle">
	<h1><%= @task.title%></h1>
</div>

<div id="toolbar">
    <div id="leftItem" class="backButton"><%= link_to "Back", :action => :index %></div>
    <div id="rightItem" class="regularButton"><%= link_to "Edit", :action => :edit, :id => @task.object %></div>
</div>

<div id="content">
    <ul>
        
        <li>
            <div class="itemLabel">Title</div>
            <div class="itemValue"><%= @task.title%></div>
        </li>
        
        <li>
            <div class="itemLabel">Description</div>
            <div class="itemValue"><%= @task.description%></div>
        </li>
        
        <li>
            <div class="itemLabel">Status</div>
            <div class="itemValue"><%= @task.status%></div>
        </li>
        
        <li>
            <div class="itemLabel">Project</div>
            <div class="itemValue"><%= @task.project%></div>
        </li>
        
        <li>
            <div class="itemLabel">Deadline</div>
            <div class="itemValue"><%= @task.deadline%></div>
        </li>
        
        <li>
            <div class="itemLabel">Shared</div>
            <div class="itemValue"><%= @task.shared%></div>
        </li>
        
    </ul>
</div>