<div id="pageTitle">
	<h1><%= @uiformdemo.textbox%></h1>
</div>

<div id="toolbar">
        <%= link_to "Back", :action => :index %>
        <%= link_to "Edit", :action => :edit, :id => @uiformdemo.object %>
</div>


<div id="content">

    <table>
      
      <tr>
    	<td>Textbox</td>
        <td><%= @uiformdemo.textbox%></td>
      </tr>
      
      <tr>
    	<td>Checkbox</td>
        <td><%= @uiformdemo.checkbox%></td>
      </tr>
      
      <tr>
    	<td>Radiobutton</td>
        <td><%= @uiformdemo.radiobutton%></td>
      </tr>
      
      <tr>
    	<td>Textarea</td>
        <td><%= @uiformdemo.textarea%></td>
      </tr>
      
    </table>
</div>