<div id="pageTitle">
	<h1><%= @uiformdemo.textbox%></h1>
</div>

<div id="toolbar">
        <%= link_to "Back", :action => :index %>
        <%= link_to "Edit", :action => :edit, :id => @uiformdemo.object %>
</div>


<div id="content">

    <table>
      
      <tr>
    	<td>Textbox1</td>
        <td><%= @uiformdemo.textbox1%></td>
      </tr>

      <tr>
    	<td>Textbox2</td>
        <td><%= @uiformdemo.textbox2%></td>
      </tr>

      <tr>
    	<td>Textbox3</td>
        <td><%= @uiformdemo.textbox3%></td>
      </tr>
      
      <tr>
    	<td>Checkbox1</td>
        <td><%= @uiformdemo.checkbox1%></td>
      </tr>

      <tr>
    	<td>Checkbox2</td>
        <td><%= @uiformdemo.checkbox2%></td>
      </tr>
      
      <tr>
    	<td>Checkbox3</td>
        <td><%= @uiformdemo.checkbox3%></td>
      </tr>
      
      <tr>
    	<td>Radiobutton</td>
        <td><%= @uiformdemo.radiobutton%></td>
      </tr>

      <tr>
    	<td>Select Box</td>
        <td><%= @uiformdemo.selectbox%></td>
      </tr>
      
      <tr>
    	<td>Textarea</td>
        <td><%= @uiformdemo.textarea%></td>
      </tr>
      
    </table>
</div>