<div class="toolbar">
  <h1 id="pageTitle">Native View demo</h1>
</div>

<ul id="NativeView" selected="true" title="Native View Demo">
  <li><%= link_to "Switch to Native View(Red)", :action => :goto_red %></li>
  <li><%= link_to "Switch to Native View(Green)", :action => :goto_green %></li>
  <li><%= link_to "Switch to Native View(Blue)", :action => :goto_blue %></li>
  <li><%= link_to "Switch to TabBar Views", :action => :goto_tabs %></li>
  <li><%= link_to "Switch to ToolBar WebView", :action => :goto_single %></li>
  <li><%= link_to "Switch to NoBar WebView", :action => :goto_nobar %></li>

</ul>
