<div class="toolbar">
  <h1 id="pageTitle">Native View</h1>
</div>
<br>
URL based Native View
<ul id="NativeView" selected="true" title="URL based Native View Demo">
  <li><%= link_to "Switch to Native View(Red)", :action => :goto_red %></li>
  <li><%= link_to "Switch to Native View(Green)", :action => :goto_green %></li>
  <li><%= link_to "Switch to Native View(Blue)", :action => :goto_blue %></li>
<% if System::get_property('platform') != 'WINDOWS' %>
 <!-- <li><%= link_to "Switch to TabBar Views", :action => :goto_tabs %></li>
  <li><%= link_to "Switch to ToolBar WebView", :action => :goto_single %></li>
  <li><%= link_to "Switch to NoBar WebView", :action => :goto_nobar %></li>-->
<% end %>
</ul>
<br>
Small Native View
<ul id="NativeView2" selected="true" title="Small Native View Demo">
  <li><%= link_to "Open Native View inside WebView", :action => :open_native_view %></li>
  <li><%= link_to "Play", :action => :play_native_view %></li>
  <li><%= link_to "Stop", :action => :stop_native_view %></li>
  <li><%= link_to "set Red", :action => :red_native_view %></li>
  <li><%= link_to "set Green", :action => :green_native_view %></li>
  <li><%= link_to "set Blue", :action => :blue_native_view %></li>
  <li><%= link_to "Close Native View", :action => :close_native_view %></li>
</ul>
<br>
Open Native view with url helper :<br>
<ul id="NativeView3" selected="true" title="Open Native view with url helper">
  <li><%= link_to "Open Native Red nativeview", :action => :open_native_view_with_helper %></li>
</ul>


<% if System::get_property('platform') == 'APPLE' or System::get_property('platform') == 'WINDOWS' %>

<br>
FullScreen Native View
<ul id="NativeView3" selected="true" title="FullScreen Native View Demo">
  <li><%= link_to "Open Fullscreen Native View", :action => :open_native_view_fullscreen %></li>
</ul>
<br>
<br>
Open Native View by Ruby code
<ul id="NativeView4" selected="true" title="Open Native View by Ruby code Demo">
  <li><%= link_to "Open Native View", :action => :open_native_view_by_ruby %></li>
</ul>
<br>

<% end %>