<div>
	<%= link_to '[Choose Picture]', { :action => :edit }%>
	<% if System::get_property('has_camera') %>
    	<%= link_to '[Take Picture]', { :action => :new }%>
    <% end %>	
        
    <br/>

	<img src="<%=File.join(Rho::RhoApplication::get_model_path('app','BarcodeRecognizer'), 'barcode_06.png')%>" width='300px'></img><a href="<%=url_for(:action => :scan1)%>">Scan</a><br/>
	<img src="<%=File.join(Rho::RhoApplication::get_model_path('app','BarcodeRecognizer'), 'barcode_09.jpg')%>" width='300px'></img><a href="<%=url_for(:action => :scan2)%>">Scan</a><br/>


</div>