<br>
<%=link_to "Delete All...", { :action => :delete_all_contacts }, "class=\"button right_button\"" %>	
<br><br>
<%=link_to "Make 200...", { :action => :make_200_contacts }, "class=\"button right_button\"" %>	
<br>
<b>My Contacts</b>
<br>
<br>
<%=link_to "New...", { :action => :new }, "class=\"button right_button\"" %>	

<%   count = 0 %>
<%@contacts.each do |x|%>

<%   strnum = count.to_s %>
<%   if count < 10 %>
<%   strnum = '0'+strnum %>
<%   end %>
<%   if count < 100 %>
<%   strnum = '0'+strnum %>
<%   end %>
<%   avatar = 'images/avatars/png/image'+strnum+'.png' %>

<table cellspacing="0" cellpadding="4" width="100%" align="center" border="2" bgcolor="#9f9f9f" bordercolor="#000000">
  
  <tr>
  <td  valign="center" align="middle"> 
<table cellspacing="0" cellpadding="0" width="100%" align="center" border="0">
  
  <tr>
        <td width="45" align="middle" valign="center">
        <img src="<%=File.join(Rho::RhoApplication::get_model_path('app','ContactsTest'), 'images/status/image001.png')%>" border="0"></td>
        <td width="80" align="middle" valign="center">
        <img src="<%=File.join(Rho::RhoApplication::get_model_path('app','ContactsTest'), avatar)%>" border="0">
        </td>
    <td>
      <table cellspacing="0" cellpadding="0" width="100%" align="center" border="0">
        
        <tr>
          <td>
          <b><%=link_to "#{x[1]['first_name']} #{x[1]['last_name']}", :action => :show, :id => x[1]['id']%></b>
          </td></tr>
        <tr>
          <td><%=x[1]['email_address']%></td>
        </tr>
      </table></td>
    <td width="45" align="middle" valign="center">
    <a href="index.htm"><img src="<%=File.join(Rho::RhoApplication::get_model_path('app','ContactsTest'), 'images/commands/image001.png')%>" border="0"></a></td>



    <td width="45" align="middle" valign="center">
    <a href="http://"><img src="<%=File.join(Rho::RhoApplication::get_model_path('app','ContactsTest'), 'images/commands/image002.png')%>" border="0"></a></td>
    </tr></table>
   </td>
</tr></table>

<%   count = count + 1 %>



<%end%>
