<div class="toolbar">
	<h1 id="pageTitle">
		Contacts
	</h1>
</div>

<%if System::get_property('platform') == 'ANDROID' or System::get_property('platform') == 'APPLE'%>
<div>Contacts count: <%=@count%><br/>
Contacts Authorization Status: <b><%=@authorization_status%></b><br/>
<%if System::get_property('platform') == 'ANDROID'%>
Apply filter:<br/>
<%=link_to 'With phones only', { :action => :phones_only }%><br/>
<%=link_to 'With both phones and emails only', { :action => :phones_emails_only }%><br/>
<%end%>
</div>
<%end%>

<ul id="contacts" title="Contacts">
<%=link_to "New...", { :action => :new }, "class=\"button right_button\"" %>	
<%@contacts.each do |x|%>
<%if System::get_property('platform') == 'ANDROID'%>
<li><%=link_to "#{x[1]['display_name']}: #{x[1]['mobile_number']}", :action => :show, :id => x[1]['id']%></li>
<%else%>
<li><%=link_to "#{x[1]['first_name']} #{x[1]['last_name'] }", :action => :show, :id => x[1]['id']%></li>
<%end%>
<%end%>
</ul>

<div>&nbsp;
<%if System::get_property('platform') == 'ANDROID' or System::get_property('platform') == 'APPLE' %>
<%if @offset+10 < @count %>
<%=link_to "Next page >>", { :action => :index, :query => {:offset => @offset+10} }%>
<%end%>
<%end%>
</div>
&nbsp;<br/>
<div>
<%=link_to 'Create test contacts', { :action => :test_create }%><br/>
<%=link_to 'Remove test contacts', { :action => :test_remove }%><br/>
<br/>
<%=link_to 'Create 250 contacts', { :action => :test_create_250 }%>
<br/>&nbsp;
</div>
