<div align="center">

	<p>Your location using geo-tags:</p>
	<geolocation></geolocation>
	<br/>
	Latitude: <geolatitude></geolatitude><br/>
	Longitude: <geolongitude></geolongitude>
	<br/>
	
	<p>Your location using ruby api:</p>
	<p>
	<a href="/system/map?q=<%= GeoLocation.latitude.to_s+','+GeoLocation.longitude.to_s %>"><%= GeoLocation.latitude.abs.to_s + " " + (GeoLocation.latitude < 0 ? "South" : "North") + ", " +
	GeoLocation.longitude.abs.to_s + " " + (GeoLocation.longitude < 0 ? "West" : "East") %></a>
	</p>
	<p>
	Latitude: <%= GeoLocation.latitude.to_s %><br/>
	Longitude: <%= GeoLocation.longitude.to_s %>
	</p>

  	<p>Geo-location information available asynchronously, 
	so you may have to <a href="/app/GeoLocation" target="_self">refresh page</a> 
	to see results of ruby calls</p>
	
	<% if System::get_property('platform') == 'APPLE' or System::get_property('platform') == 'Blackberry' or System::get_property('platform') == 'ANDROID' %>
		<p><a href="/app/GeoLocation/showmap?latitude=<%= GeoLocation.latitude.to_s%>&longitude=<%= GeoLocation.longitude.to_s%>"
			target="_self">[show map at location <%= GeoLocation.latitude.to_s%>,longitude=<%= GeoLocation.longitude.to_s%> ]</a></p>
	<% end %>

</div>
