<script type="text/javascript">
<!--
function updateLocation(lat, lng) {
     $('span.geoLat').html(lat);
     $('span.geoLng').html(lng);
}
-->
</script>


<div align="center">
    <p>To get current location - Go outside building and wait 5-10 minutes</p>
	<!--p>Your location using geo-tags:</p>
	<geolocation></geolocation>
	<br/>
	Latitude: <geolatitude></geolatitude><br/>
	Longitude: <geolongitude></geolongitude>
	<br/-->
	
	<p>Your location using ruby api:</p>
	<p>
<% if System::get_property('platform') != 'WINDOWS' %>
	<a href="/system/map?q=<%= GeoLocation.latitude.to_s+','+GeoLocation.longitude.to_s %>"><%= GeoLocation.latitude.abs.to_s + " " + (GeoLocation.latitude < 0 ? "South" : "North") + ", " +
	GeoLocation.longitude.abs.to_s + " " + (GeoLocation.longitude < 0 ? "West" : "East") %></a>
<% else %>          
	<a href="<%= url_for :controller => :Settings, :action => :not_supported, :query => {:feature => 'Native Map'} %>" ><%= GeoLocation.latitude.abs.to_s + " " + (GeoLocation.latitude < 0 ? "South" : "North") + ", " +
	GeoLocation.longitude.abs.to_s + " " + (GeoLocation.longitude < 0 ? "West" : "East") %></a>
<% end %>      
    
	</p>
	<p>
	Latitude: <span class="geoLat"><%= GeoLocation.latitude.to_s %></span><br/>
	Longitude: <span class="geoLng"><%= GeoLocation.longitude.to_s %></span>
	</p>

<% if System::get_property('platform') != 'WINDOWS' %>
		<p><a href="/app/GeoLocation/showmap?latitude=<%= GeoLocation.latitude.to_s%>&longitude=<%= GeoLocation.longitude.to_s%>&provider=Google"
			target="_self">[show Google map at location <%= GeoLocation.latitude.to_s%>,<%= GeoLocation.longitude.to_s%> ]</a></p>
    
		<p><a href="/app/GeoLocation/showmap_250?latitude=<%= GeoLocation.latitude.to_s%>&longitude=<%= GeoLocation.longitude.to_s%>&provider=Google"
			target="_self">[show Google map at location <%= GeoLocation.latitude.to_s%>,<%= GeoLocation.longitude.to_s%> with 2500 pins]</a></p>

        <p><a href="/app/GeoLocation/showmap_coding?provider=Google" target="_self">[show Google map at location : NG10 3XL ]</a></p>    
    
<% else %>      
		<p><a href="<%= url_for :controller => :Settings, :action => :not_supported, :query => {:feature => 'Google Map'} %>"
			target="_self">[show Google map at location <%= GeoLocation.latitude.to_s%>,<%= GeoLocation.longitude.to_s%> ]</a></p>
    
<% end %>      

    <% if System::get_property('platform') == 'WINDOWS' || System::get_property('platform') == 'ANDROID'%>    
		<p><a href="/app/GeoLocation/showmap?latitude=<%= GeoLocation.latitude.to_s%>&longitude=<%= GeoLocation.longitude.to_s%>&provider=RhoGoogle"
			target="_self">[show RhoGoogle map at location <%= GeoLocation.latitude.to_s%>,<%= GeoLocation.longitude.to_s%> ]</a></p>
    
		<p><a href="/app/GeoLocation/showmap?latitude=<%= GeoLocation.latitude.to_s%>&longitude=<%= GeoLocation.longitude.to_s%>&provider=OSM"
			target="_self">[show OSM map at location <%= GeoLocation.latitude.to_s%>,<%= GeoLocation.longitude.to_s%> ]</a></p>

    <% end %>      

    
<br>
		<p><a href="/app/GeoLocation/showmap?latitude=<%= GeoLocation.latitude.to_s%>&longitude=<%= GeoLocation.longitude.to_s%>&provider=ESRI"
			target="_self">[show ESRI map at location <%= GeoLocation.latitude.to_s%>,<%= GeoLocation.longitude.to_s%> ]</a></p>

		<p><a href="/app/GeoLocation/showmap_250?latitude=<%= GeoLocation.latitude.to_s%>&longitude=<%= GeoLocation.longitude.to_s%>&provider=ESRI"
			target="_self">[show ESRI map at location <%= GeoLocation.latitude.to_s%>,<%= GeoLocation.longitude.to_s%> with 250 pins]</a></p>

        <p><a href="/app/GeoLocation/showmap_coding?provider=ESRI" target="_self">[show ESRI map at location : NG10 3XL ]</a></p>    

    
<% if System::get_property('platform') == 'APPLE' or System::get_property('platform') == 'ANDROID' %>
  <a href='/app/ESRI'>[show ESRI map]</a><br/>
<% end %>

        <p><a href="/app/GeoLocation/showmap_static" target="_self">[Show Static Google map at location : <%= GeoLocation.latitude.to_s%>,<%= GeoLocation.longitude.to_s%> ]</a></p>    
    
	<p>Distance calculation test:</p>
	<p> Distance between Washington, D.C. and Moscow, Russia: expected  4856.99 miles, geolocation returns
	<%= GeoLocation.haversine_distance(38.895, -77.036667, 55.755786, 37.617633).to_s %> miles
	</p>
	<p> Distance between Washington, D.C. and New York: expected 204.34 miles, geolocation returns
	<%= GeoLocation.haversine_distance(38.895, -77.036667, 40.716667, -74).to_s %> miles
	</p>

<br>

   
</div>





