<div align="center">
    <p>To get current location - Go outside building and wait 5-10 minutes</p>
	<p>Your location using geo-tags:</p>
	<geolocation></geolocation>
	<br/>
	Latitude: <geolatitude></geolatitude><br/>
	Longitude: <geolongitude></geolongitude>
	<br/>
	
	<p>Your location using ruby api:</p>
	<p>
<% if System::get_property('platform') != 'WINDOWS' %>
	<a href="/system/map?q=<%= GeoLocation.latitude.to_s+','+GeoLocation.longitude.to_s %>"><%= GeoLocation.latitude.abs.to_s + " " + (GeoLocation.latitude < 0 ? "South" : "North") + ", " +
	GeoLocation.longitude.abs.to_s + " " + (GeoLocation.longitude < 0 ? "West" : "East") %></a>
<% else %>          
	<a href="<%= url_for :controller => :Settings, :action => :not_supported, :query => {:feature => 'Native Map'} %>" ><%= GeoLocation.latitude.abs.to_s + " " + (GeoLocation.latitude < 0 ? "South" : "North") + ", " +
	GeoLocation.longitude.abs.to_s + " " + (GeoLocation.longitude < 0 ? "West" : "East") %></a>
<% end %>      
    
	</p>
	<p>
	Latitude: <%= GeoLocation.latitude.to_s %><br/>
	Longitude: <%= GeoLocation.longitude.to_s %>
	</p>

  	<p>Geo-location information available asynchronously, 
	so you may have to <a href="/app/GeoLocation" target="_self">refresh page</a> 
	to see results of ruby calls</p>
	
<% if System::get_property('platform') != 'WINDOWS' %>
		<p><a href="/app/GeoLocation/showmap?latitude=<%= GeoLocation.latitude.to_s%>&longitude=<%= GeoLocation.longitude.to_s%>&provider=Google"
			target="_self">[show Google map at location <%= GeoLocation.latitude.to_s%>,longitude=<%= GeoLocation.longitude.to_s%> ]</a></p>
    
        <p><a href="/app/GeoLocation/showmap_coding?provider=Google" target="_self">[show Google map at location : NG10 3XL ]</a></p>    
<% else %>      
		<p><a href="<%= url_for :controller => :Settings, :action => :not_supported, :query => {:feature => 'Google Map'} %>"
			target="_self">[show Google map at location <%= GeoLocation.latitude.to_s%>,longitude=<%= GeoLocation.longitude.to_s%> ]</a></p>
    
<% end %>      
    
<br>
		<p><a href="/app/GeoLocation/showmap?latitude=<%= GeoLocation.latitude.to_s%>&longitude=<%= GeoLocation.longitude.to_s%>&provider=ESRI"
			target="_self">[show ESRI map at location <%= GeoLocation.latitude.to_s%>,longitude=<%= GeoLocation.longitude.to_s%> ]</a></p>

        <p><a href="/app/GeoLocation/showmap_coding?provider=ESRI" target="_self">[show ESRI map at location : NG10 3XL ]</a></p>    
    
<% if System::get_property('platform') == 'APPLE' or System::get_property('platform') == 'ANDROID' %>
  <a href='/app/ESRI'>[show ESRI map]</a><br/>
<% end %>      

	<p>Distance calculation test:</p>
	<p> Distance between Washington, D.C. and Moscow, Russia: expected  4856.99 miles, geolocation returns
	<%= GeoLocation.haversine_distance(38.895, -77.036667, 55.755786, 37.617633).to_s %> miles
	</p>
	<p> Distance between Washington, D.C. and New York: expected 204.34 miles, geolocation returns
	<%= GeoLocation.haversine_distance(38.895, -77.036667, 40.716667, -74).to_s %> miles
	</p>

</div>
